In [1]:
import pandas_datareader as pdr
import datetime as dt
import pandas as pd

In [3]:
start = dt.datetime(2010, 1, 1)

aapl = pdr.get_data_yahoo("AAPL", start)

In [5]:
aapl.head()

                High       Low      Open     Close       Volume  Adj Close
Date
2010-01-04  7.660714  7.585000  7.622500  7.643214  493729600.0   6.583586
2010-01-05  7.699643  7.616071  7.664286  7.656429  601904800.0   6.594968
2010-01-06  7.686786  7.526786  7.656429  7.534643  552160000.0   6.490066
2010-01-07  7.571429  7.466071  7.562500  7.520714  477131200.0   6.478067
2010-01-08  7.571429  7.466429  7.510714  7.570714  447610800.0   6.521136